name: Testing

on:
  push:
    branches:
      - main
      - dev
  pull_request:
  workflow_dispatch: // allows us to manually run the actions

jobs:
  run-tests:
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'coretto'
          java-version: '17'

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Execute Gradle Test
        run: ./gradlew test

      - name: Report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Gradle Tests
          path: '**/build/test-results/test/TEST*.xml'
          reporter: java-junit
          fail-on-error: 'true'
